.list-container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;

    .list-result {
        min-width: 576px;
        margin: 0 auto;
    }

    .list-title {
        margin: 32px 0;
        font-size: 32px;
    }

    .list-title-bottom {
        padding: 110px 0 0;
    }
}
