.list-form {
    position: relative;

    .list-form-inputs {
        display: flex;
        margin-bottom: 18px;

        .list-form-image-wrapper {
            flex: 1;
            max-width: 288px;
            background-size: 100% 100%;
            width: 288px;
            height: 212px;
            border: 1px groove $gray;
            border-radius: 4px;

            .list-form-label-image {
                padding: 96px 80px;
                margin-right: 20px;
                width: 288px;
                text-align: center;
                display: block;
                cursor: pointer;
            }
        }

        .list-form-inputs-wrapper {
            margin-left: 14px;

            .list-form-name-wrapper {
                margin-bottom: 24px;

                .list-form-input-item-name {
                    max-width: 326px;
                    height: 56px;
                }
            }
        }

        .list-form-input-item-name,
        .list-form-input-item-description {
            width: 100%;
            padding: 0 15px;
            border: 1px groove $gray;
            border-radius: 5px;
        }

        .list-form-input-item-description {
            width: 414px;
            height: 132px;
            padding-bottom: 18px;
            padding-top: 32px;
        }
    }

    .list-form-submit-button {
        width: 100%;
        width: 120px;
        height: 56px;
        position: absolute;
        left: 52%;
        border: 0;
        border-radius: 4px;
        color: $white;
        font-weight: 700;
        background: $orange;
        transition: background-color 0.2s linear;

        &:hover {
            background: $orange-light;
        }

        &:active {
            background: $orange;
        }
    }
}
