.list-result-wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 20px;

    .list-result {
        display: flex;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        .list-result-image {
            width: 288px;
            height: 212px;
            border-radius: 4px;

        }

        .list-result-text-wrapper {
            padding: 24px 24px 0 24px;
            display: flex;
            flex-direction: column;

            .list-result-name {

                font-size: 24px;
                text-align: left;
                min-height: 70px;
            }

            .list-result-description {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                padding-top: 8px;
            }
        }
    }
}
