input,
label,
textarea {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: $gray;
}

textarea {
    resize: none;
}

input[type="file"] {
    display: none;
}

body,
button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

button {
    cursor: pointer;
    color: $orange;
}

body {
    color: $black-heavy;
}
